<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro de Compras | Luxlibert</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{css/estilos.css}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<script th:src="@{js/sidebar.js}"></script>
<script src="@{js/modales.js}"></script>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<style>
#boton {
	background-color: #EEC373;
}

.header_img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden
}

.header {
	width: 100%;
	height: var(- -header-height);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: var(- -first-color-black);
	z-index: var(- -z-fixed);
	transition: .5s
}

.header_img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden
}

.header_img img {
	width: 40px
}
</style>

</head>
<body>

	<header class="header bg-dark" id="header">
		<h3 id="nombreMarca" style="color: #EEC373;" class="text-center">LUXLIBERT</h3>
		<div class="header_img">
			<img th:src="@{img/logoLuxlibert.jpeg}" alt="">
		</div>
		<a href="/compras" class="text-white"> Volver</a>
	</header>

	<div class="container pt-5">

		<button id="boton" type="button" class="btn" data-bs-toggle="modal"
			data-bs-target="#exampleModal">AÑADIR PRODUCTO</button>



		<!-- MODAL PRODUCTO -->

		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Agregar
							Producto</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form class="form" th:object="${Compra}"
							th:action="@{/compras/registroCompra/añadirCarrito}"
							method="post">
							<div class="form-group mt-4">
								<label for="exampleInputNombreProducto1">Fecha de la
									compra </label> <input type="date" class="form-control"
									id="fechaCompra" aria-describedby="emailHelp"
									name="fechaCompra">
							</div>

							<div class="form-group mt-4">
								<label for="labelCategoria">Selecciona el producto que
									deseas comprar:</label> <select name="producto">
									<option th:each="producto : ${productos}"
										th:value="${producto.nombreProducto}"
										th:text="${producto.nombreProducto}" th:selected="true" />
								</select>
							</div>

							<div class="form-group mt-4">
								<label for="labelCategoria">Selecciona el proveedor:</label> <select
									name="proveedor">
									<option th:each="proveedor : ${proveedores}"
										th:value="${proveedor.nombreProveedor}"
										th:text="${proveedor.nombreProveedor}" th:selected="true" />
								</select>
							</div>
							<div class="form-group mt-4">
								<label for="labelPVP">Selecciona la cantidad que deseas
									comprar: </label> <input type="number" name="cantidad"
									class="form-control" id="cantidad">
							</div>

						
							<div class="form-group mt-4">
								<button class="btn btn-success" type="submit">Agregar</button>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-5">

		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Item</th>
						<th>Articulos</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td>
							<table class="table table-bordered pt-4">
								<thead>
									<tr>
										<th>Item</th>
										<th>Producto</th>
										<th>Proveedor</th>
										<th>Cantidad</th>
										<th>Importe Unidad</th>
										<th>Fecha</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="carrito, iterador : ${carrito}">
										<td th:text="${iterador.index}+1"></td>
										<td th:text="${carrito.productoEnt.nombreProducto}"></td>
										<td th:text="${carrito.proveedor.nombreProveedor}"></td>
										<td th:text="${carrito.cantidad}"></td>
										<td th:text="${carrito.importe}+ ' €/ud'"></td>
										<td th:text="${carrito.fecha}"></td>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<!--  <div class="container alert alert-danger"
			th:if="${carritoPrueba == null}">Debes añadir elementos al
			carrito antes de registrar la compra</div>-->

		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:if="${carrito == null}">
			<strong>!Cuidado!</strong> Debes añadir un producto
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>

		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${carrito != null}">
			!Agregado correctamente!
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>

		<br>
		<form class="form" th:action="@{/compras/compraRealizada}"
			th:object="${CarritoCompras}" method="post">
			<button type="submit" class="btn text-center" id="boton">REGISTRAR
				COMPRA</button>
		</form>
	</div>


</body>
</html>